body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assents/background.png");
    background-size: cover;
    color: whitesmoke;

}
main{
    margin: 24px auto;
    height: 100vh;
}
.container{
    height: 100vh;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
.container-text{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#lg1, #lg2, #lg3, #lg4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(86, 86, 86, 0.5);
    padding: 20px;
}
#lg1 img, #lg2 img, #lg3 img, #lg4 img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}